// reset 
*{
  padding: 0;
  margin: 0;
}

header, main{
  width: 100%;
}

header#app-header{
  &.only-logo{
    display: flex;
    flex-wrap: wrap;
  }

  img#header-logo{
    width: 100px;
    height: 20px;
    margin: 10px auto;
  }
}