@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

// reset 
*{
  padding: 0;
  margin: 0;
}

//Colors
$darkGreen: #008C52;
$lightGrey: #EAE8E9;
$darkGrey: #E1E1E1;
$darkerGreen: #006F41;
$lightGreen: #2FDD95;


header, main, div.navContainer, body, article, section{
  width: 100%;
  max-width: 100%;
}

[aria-hidden = "true"]{
	display: none;
}

[aria-hidden = "false"]{
	visibility: visible;
}

body{
  display: grid;
  grid-template-rows: 45px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;

  &.noScroll{
    overflow: hidden;
  }

  h1,h2,h3{
    width: 100%;
    font-weight: bold;
  }

  h1{
    font-size: 13px;
  }

  h2{
    font-size: 12px;
  }

  header#app-header{
    height: 100%;

    &.only-logo{
      display: flex;
      flex-wrap: wrap;
    }
  
    img#header-logo{
      width: 100px;
      height: 20px;
      margin: auto;
    }
  }

  &#menu-page main{
    min-height: calc(100vh - 45px);
    display: grid;
    grid-template-rows: 40% auto;
  
    img.nav-hero-img{
      width: 100%;
      height: 100%;
      // to ensure position
      // object-fit: cover;
      grid-row: 1/2;
    }
  
    nav{
      max-width: 100%;
      background-color: $darkGrey;
  
      ul{
        list-style: none;
        display: grid;
        grid-template-rows: repeat(9, 45px);
        grid-gap: 2px;
  
        li{
          width: 100%;
          background-color: $lightGrey;
  
          a.nav-link{
            text-decoration: none;
            display: grid;
            grid-template-columns: 15% 70% 15%;
  
            img, svg, p{
              margin: 5px auto;
              align-self: center;
            }
  
            img, svg{
              width: 25px;
              height: 25px;
            }
  
            svg{
              fill: $darkGreen;
              grid-column: 3/4;
            }
  
            p{
              width: 100%;
              font-size: 12px;
              font-weight: 600;
              color: #000;
              grid-column: 2/3;
            }

            img{
              grid-column: 1/2;
            }
          }

          &#donation{
            a.nav-link{
              border-radius: 20px;
              background: $darkGreen;
              padding: 5px;
              width: 80%;
              margin: 10px auto;

              p{
                color: #ffffff;
                text-align: center;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }

  header{
    height: 100%;
    button#togglebtn {
      width: 30px;
      height: 30px;
      border: 0;
      margin: 10px;
      display: flex;
      flex-wrap: wrap;
      background: $darkGreen;
      border-radius: 50%;

      svg {
        width: 20px;
        height: auto;
        margin: auto;
        fill: #fff;
      }
    }

    .overlay{
      max-height: 100vh;
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top:-5px;
      right: 0;
      background: rgba(255, 255, 255, 0.75);
      transition: 0.4s;
      overflow-y: auto;
    }

    nav{
      width: 213px;
      min-height: 100vh;
      background: $darkGreen;
      padding-top: 15px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 30px;
      margin-left: auto;
      position: relative;

      div.otherNavControl{
        width: 100%;
        max-width: 100%;
        display: grid;
        grid-template-columns: 45px auto 45px;

        a#backToHome, button#closeMenu{
          width: 45px;
          height: 45px;
          border: 0;
          background: transparent;
          display: flex;
          flex-wrap: wrap;

          img{
            width: auto;
            height: auto;
            margin: auto;
          }
        }

        a#backToHome{
          grid-column: 3/4;
        }

        button#closeMenu{
          grid-column: 1/2;
        }
      }

      ul{
        list-style: none;
        display: grid;
        grid-template-rows: repeat(9, 30px);
        grid-gap: 15px;
        margin: 10px auto;

        li{
          width: 100%;
          max-width: 100%;
          // background-color: $lightGrey;
          background-color: $darkerGreen;

          &.selected{
            //Selected Menu
            border-left: 10px solid $lightGreen;
          }

          a.nav-link{
            text-decoration: none;
            display: grid;
            // grid-template-columns: 15% 70% 15%;
            img{
              display: none;
            }
  
            p{
              width: 100%;
              font-size: 10px;
              color: #fff;
            }

            
          }

          &#donation{
            background: transparent;
            border: 0;

            a.nav-link{
              border-radius: 20px;
              background: #fff;
              padding: 5px;
              width: 80%;
              margin: 10px auto;
              display: flex;
              flex-wrap: wrap;

              p{
                color: $darkGreen;
                text-align: center;
                font-weight: 600;
                margin: auto;
              }
            }
          }
        }
      }
    }
  }

  main{
    border-bottom: 7px solid $darkGreen;
    min-height: calc(100vh - 45px);
  }

  // School Page

  section#school-section{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 5px;

    article.page-title-area{
      margin: 30px auto;
      display: grid;
      img, p{
        margin: 5px auto;
      }
      img{
        height: 35px;
        width: 35px;
      }

      h1{
        text-transform: uppercase;
        font-weight: 600;
        color: $darkGreen;
        text-align: center;
        padding: 10px;
        font-size: 13px;
      }
    }

    article.schools-article{ 
      display: flex;
      flex-wrap: wrap;
      div.partner-schools{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        margin: 30px auto;

        a{
          display: flex;
          flex-wrap: wrap;
          padding: 10px;
          background: #FFFFFF;
          box-shadow: 0px 4px 4px rgba(0, 140, 82, 0.25);
          border-radius: 12px;
          transition-delay: 500ms;
          transition: ease-out 1s;

          img{
            height: 70px;
            width: 70px;
          }
        }
      }
    }
  }

  // companies Page

  section#companies-section{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 5px;

    article.page-title-area{
      margin: 30px auto;
      display: grid;
      img, p{
        margin: 5px auto;
      }
      img{
        height: 35px;
        width: 35px;
      }

      h1{
        text-transform: uppercase;
        font-weight: 600;
        color: $darkGreen;
        text-align: center;
        padding: 10px;
        font-size: 13px;
      }
    }

    article.companies-article{ 
      display: flex;
      flex-wrap: wrap;
      div.partner-companies{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        margin: 30px auto;

        a{
          display: flex;
          flex-wrap: wrap;
          padding: 10px;
          background: #FFFFFF;
          box-shadow: 0px 4px 4px rgba(0, 140, 82, 0.25);
          border-radius: 12px;
          transition-delay: 500ms;
          transition: ease-out 1s;

          img{
            height: 70px;
            width: 70px;
          }
        }
      }
    }
  }

  // contacts Page

  section#contacts-section{
    display: grid;
    grid-template-rows: auto;
    // flex-wrap: wrap;
    // padding: 20px 5px;

    article.page-title-area{
      margin: auto;
      display: grid;
      grid-template-rows: 200px auto;
      
      img{
        height: 200px;
        width: 100%;
      }

      h1{
        text-transform: uppercase;
        font-weight: bold;
        color: $darkGreen;
        text-align: center;
        font-size: 13px;
        padding: 5px;
      }
    }

    article.contacts-article{ 
      display: flex;
      flex-wrap: wrap;
      padding: 20px;

      h2.nhef-address{
        color: #000;
        width: 100%;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        margin: 10px auto;
      }

      div.contacts{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin: 30px auto;

        a{
          display: flex;
          flex-wrap: wrap;
          padding: 10px;
          background: #FFFFFF;
          // box-shadow: 0px 4px 4px rgba(0, 140, 82, 0.25);
          // border-radius: 12px;
          transition-delay: 500ms;
          transition: ease-out 1s;
          margin: auto;

          img{
            height: 25px;
            width: 25px;
          }
        }
      }
    }
  }

  // About Page

  section#about-section{
    display: flex;
    flex-wrap: wrap;

    article.page-title-area{
      margin: auto;
      flex-wrap: wrap;
      display: flex;
      
      img{
        height: 200px;
        width: 100%;
      }

      h1{
        text-transform: uppercase;
        font-weight: bold;
        color: $darkGreen;
        text-align: center;
        font-size: 13px;
        padding: 10px;
      }

      p, a{
        width: 100%;
        padding: 10px;
      }

      p{
        text-align: justify;
      }
      
      a{
        color: $darkGreen;
        font-style: italic;
      }
    }
  }
}